.me{
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    overflow: hidden;
}

.me img{
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 2rem 2rem 2rem 2rem;

}


/* ==== Header Social==== */

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 10rem;
}

.header__socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* ==== Scroll Down ==== */

.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 11rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}
.scroll__down:hover{
    color: #f09a61;
}


.btn {
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}

.btn:hover {
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}

.btn-primary {
    background: var(--color-primary);
    color: var(--color-bg);
}


@media screen and (max-width: 600px){
    .header__socials {
        display: none;
    }

    .scroll__down{
        display: none;
    }
    
}