* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-bg:#34222e;
    --color-bg-variant:#f9bf8f;
    --color-primary:#f9bf8f;
    --color-primary-variant:#f9bf8f;
    --color-white:#fff;
    --color-light:rgba(255,255,255,0.6);

    --transition: all 400ms ease;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background: var(--color-bg);
    color: var(--color-white);
    line-height: 1.7;
}
